doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title angular-todo
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    // build:css styles/vendor.css
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css', media='all')
    // endbuild

    link(rel='stylesheet', href='styles/style.css', media='all')
  body(ng-app="App")
    .location-bar
    .container
      .page-header
        h1 ToDo

      form.input-group.input-group-lg
        input.form-control.input-lg(type="text" name="" required placeholder="新しい要件を入力")
        span.input-group-btn
          button.btn.btn-default(type="submit") 追加

      hr

      .btn-toolbar
        .btn-group
          button.btn.btn-success 全てを完了／未了
      .btn-group
        button.btn.btn-default.active
          | 全部
          span.badge 3
        button.btn.btn-default
          | 未了
          span.badge 2
        button.btn.btn-default
          | 完了
          span.badge 1
        .btn-group
          button.btn.btn-danger 完了アイテムを全て削除

      hr

      ul.list-unstyled
        each val, i in ['未了のToDo', '完了したToDo', '編集中のToDo']
          li.todo-item
            form.input-group.input-group-lg
              label.input-group-addon
                input(type="checkbox" name="")
              p.form-control.input-lg.todo-title= val
              span.input-group-btn.del-btn
                button.btn.btn-danger(type="reset") 削除

    // build:js scripts/vendor.js
    script(src='../bower_components/angularjs/angular.min.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
